/* =============== basics =============== */

@media only screen {
  html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  body{
    /*background-color: #FFFEEE;*/
    background: url('../img/basics/bg.jpg');
    color: #000;
    -webkit-box-shadow: inset 0px -43px 73px -8px rgba(92,69,0,1);
    -moz-box-shadow: inset 0px -43px 73px -8px rgba(92,69,0,1);
    box-shadow: inset 0px -43px 73px -8px rgba(92,69,0,1);
    min-height: 100%;
  }

  h2, h3{
    font-family: 'Lobster', cursive;
  }

  h2, h3, p{
    margin: 1% 0;
  }

  section h2{
    text-align: center;
    color: #fff;
    font-size: 150%;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  ul{
    padding: 0;
    margin: 0;
  }

  li{
    list-style: none;
  }

  .hamburger-menu{
      display: inline-block;
      cursor: pointer;
  }

  .hamburger-menu div{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  .open .bar2 {
      opacity: 0;
  }

  .open .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  /* =============== navigation =============== */
  .flex-nav{
    background-color: #fff9db;
    position: fixed;
    min-width: 96%;
    height: 3em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 0 2%;
    -webkit-box-shadow: 0px 10px 22px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px -15px rgba(0,0,0,0.75);
  }

  main{
    padding-top: 3em;
  }

  .flex-nav .menu,
  .flex-nav .logo{
    display: inline-block;
  }

  .flex-nav .logo img{
    max-height: 2.6em;
    margin-top: 0.1em;
  }

  .flex-nav .menu{
    margin: 0;
  }

  .flex-nav .menu ul li a{
    transition: all .5s ease;
    display: inline-block;
    font-size: 1.3em;
    line-height: 2.3;
    font-family: 'Lobster', cursive;
  }

  .flex-nav .menu-item a:hover{
    color: #FFF9DB;
    background-color: #510600;
  }

  .flex-nav .menu ul li{
    display: inline-block;
  }

  .flex-nav .menu-item.contact a:hover{
    background-color: transparent;
  }

  .flex-nav .menu-item .social-connect a{
    line-height: 1;
  }

  .flex-nav .menu-item p:nth-child(1){
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
  }

  .flex-nav .menu-item .social-connect img{
    width: 50px;
    height: 50px;
  }

  /* =============== main page =============== */

  .jumbo-container{
    text-align: center;
    position: relative;
    font-family: 'Lobster', cursive;
  }

  .jumbo-container img{
    max-width: 100%;
  }

  .holo{
    background-color: rgba(68, 4, 1, 0.5);
    width: 100%;
    position: absolute;
  }

  .holo:nth-of-type(1){
    top: 0;
  }

  .holo:nth-of-type(2){
    bottom: 3px;
  }

  .slogan{
    color: #fff;
    font-size: 1.4em;
  }

  .customize-tour{
    width: 100%;
    position: absolute;
    top: 39%;
  }

  .customize-tour a{
    background-color: #510600;
    color: #FFF9DB;
    font-size: 2em;
    padding: 2% 4%;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
  }

/* =============== tour =============== */
  .find-tours h2{
    background-color: #2f2e2e;
    line-height: 2;
  }

  .tour-ribbon{
    position: relative;
    max-width: 470px;
    margin: 0 auto;

  }

  .tour-details{
    position: relative;
    overflow: hidden;
    font-family: 'Lobster', cursive;
    color: #fff;
    background-color: #510600;
    width: 80%;
    height: 3em;
    margin: 0 auto;
  }

  .ribbon-right,
  .ribbon-left{
    position: absolute;
    display: inline-block;
    width: 15%;
    height: 3em;
    bottom: -0.8em;
  }

  .ribbon-left{
    background: url('../img/ribbon-left.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .ribbon-right{
    right: 0px;
    background: url('../img/ribbon-right.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .tour-details>div{
    display: inline-block;
  }

  .recording .play-button{
    background-color: transparent;
    border: 2px solid #FDFFF1;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    margin: 4px auto;
    background: url('../img/play.png');
    background-position: center;
    background-size: 42% 50%;
    background-repeat: no-repeat;
  }

  .tour-date{
    font-size: 1.3em;
    text-align: center;
    background: url('../img/time-wheel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
  }

  .tour-details .tour-time,
  .tour-details .guide-name{
    font-size: 1.8em;
    padding-top: 0.2em;
  }

  .tour-details  .guide-name,
  .tour-details .tour-lang,
  .tour-details .tour-time,
  .tour-details .tour-enroll{
    text-align: center;
    margin: 0;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .tour-details .guide-name,
  .tour-details .tour-time{
    width: 60%;
  }

  .tour-details .tour-enroll,
  .tour-details .tour-lang{
    width: 20%;
    right: 0;
  }

  .recording{
    width: 20%;
  }

  .tour-details .guide-name,
  .tour-details .tour-lang{
    top: -50px;
  }

  .tour-details .tour-time,
  .tour-details .tour-enroll{
    top: 0;
  }

  .tour-details .tour-enroll{
    height: 40px;
    cursor: pointer;
  }

  .tour-details .tour-enroll img{
    max-height: 100%;
    padding-top: 0.2em;
  }

  .tour-details .tour-lang img{
    margin-top: 1em;
  }

  .show-guide.tour-details .guide-name,
  .show-guide.tour-details .tour-lang{
    top: 0;
  }

  .show-guide.tour-details .tour-time,
  .show-guide.tour-details .tour-enroll{
    top: 50px;
  }

  /*.tour span{
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
  }

  .tour .en{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiNkMDAiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg==');
    width: 100%;
    height: 60%;
  }*/
}

/* under 640px */
@media screen and (max-width:40em) {

  /* =============== navigation =============== */

  .menu ul{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    background-color: #FFFDF4;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.05, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.05, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.05, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.05, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.05, 1);
  }

  .menu.open ul{
    webkit-transform: translate(calc(-100% + 35px + 2%), 0);
    transform: translate(calc(-100% + 35px + 2%), 0);
  }

  .menu ul li{
    width: 100%;
    text-align: center;
  }

  .menu ul li>a{
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 30px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 30px -10px rgba(0,0,0,0.75);
  }

}

/* 640px and up */
@media only screen and (min-width: 40em) {
  .hamburger-menu{
    display: none;
  }

  .flex-nav .menu-item>a{
    padding: 0 2em;
  }

  .flex-nav .menu-item.contact {
    position: fixed;
    right: 0;
    top:110px;
  }

  .flex-nav .menu-item.contact p{
    display: none;
  }

  .flex-nav .menu-item.contact a{
    display: block;
  }
}
